<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{%STUDENT_NAME%}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body
    style="
      width: 100%;
      height: 100vh;
      background: linear-gradient(
        to right,
        pink 0%,
        pink 50%,
        paleturquoise 50%,
        paleturquoise 100%
      );
    "
  >
    <nav class="navbar container">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"> Student information database </a>
      </div>
    </nav>
    <section class="container">
      <h2>
        {%STUDENT_NAME%} <span>{%STUDENT_SURNAME%}</span>
        <span>Class: {%STUDENT_CLASS%}</span>
      </h2>
      <div class="content">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Subject</th>
              <th scope="col">Mark</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Math</th>
              <td>{%MATH%}</td>
            </tr>
            <tr>
              <th scope="row">Physics</th>
              <td>{%PHYSICS%}</td>
            </tr>
            <tr>
              <th scope="row">Chemistry</th>
              <td>{%CHEMISTRY%}</td>
            </tr>
          </tbody>
        </table>
        <a
          href="/"
          class="btn"
          style="background-color: paleturquoise !important"
          >Go back</a
        >
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
